<div class="alert alert-warning alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Yay!</strong> Enjoy your stay!
</div>

<section class="page">
  <h1>Welcome to my boots collection</h1>
  <p>Check out my boots, I have a lot of them.</p>
</section>

<section class="boot-collection">
  <table class="table table-inverse">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Riding</td>
        <td>Tan</td>
        <td>$10</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Work</td>
        <td>Black</td>
        <td>$5</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Home</td>
        <td>Purple</td>
        <td>$2</td>
      </tr>
    </tbody>
  </table>
</section>
